#tbl {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

#tbl td, #tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even){background-color: #f2f2f2;}

#tbl tr:hover {background-color: #ddd;}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: linear-gradient(to right, #ff0000, #ff9000, #fff000, #06ff00, #00ffc0, #009cff, #0024ff, #7200ff);
    color: white;
}

.centered { text-align: center;}
.leftpadding30percent { padding-left: 30%; }

#tag {
    font-weight: bold;
    font-size: large;
}